html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th,
td {
	text-align: left;
	font-weight: 400
}

* {
	margin: 0;
	padding: 0
}

a img {
	border: none
}

h2 {
	font-size: 18px;
	font-weight: 400
}

h3 {
	font-size: 14px
}

h4,
h5,
h6 {
	font-size: 100%
}

html,
body {
	height: 100%
}

.body-wrap-3 {
	overflow-x: hidden;
	min-width: 954px
}

#page {
	min-height: 100%;
	max-width: 1060px;
	min-width: 954px;
	position: relative
}

.page-outer-left,
.page-outer-right {
	position: absolute;
	z-index: -1;
	height: 100%
}

.tab {
    display: inline-block;
    margin-left: 15px;
}

.tab_wide {
    display: inline-block;
    margin-left: 33px;
}

.clearing {
	clear: both
}

tr.top .section-border,
tr.top .section-divider {
	vertical-align: top
}

.container_spacer {
	position: relative;
	z-index: 3
}

.container_spacer .left {
	position: absolute;
	height: 100%;
	width: 50.004%;
	top: 0;
	left: 0;
	background-position: left top;
	background-repeat: no-repeat
}

.container_spacer .right {
	position: absolute;
	height: 100%;
	width: 50.004%;
	top: 0;
	right: 0;
	background-position: right top;
	background-repeat: no-repeat
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px
}

a {
	text-decoration: none
}

a:hover,
a:focus {
	text-decoration: underline
}

p {
	line-height: 150%
}

.element_avatar {
	display: inline-block;
	zoom: 1;
	line-height: 0
}

.element_avatar.simple {
	padding: 1px
}

.element_avatar img {
	display: block;
	position: relative
}

.element_avatar.large img {
	width: 73px;
	height: 73px
}

#page {
	margin: 0 auto
}

#site-body {
	position: relative;
	z-index: 1;
	zoom: 1
}

.module {
	border-width: 1px;
	border-style: solid
}

.module.module_first {
	border-top: none
}

.module.module_last {
	border-bottom: none
}

.leftmost .module {
	border-left: none
}

.rightmost .module {
	border-right: none
}

.container_header,
.container_body,
.container_footer {
	position: relative
}

.container_header .left,
.container_footer .left,
.container_footer .footer_text_left {
	height: 100%;
	width: 50.004%;
	position: absolute;
	top: 0;
	left: 0;
	background: left bottom no-repeat
}

.container_header .right,
.container_footer .right,
.container_footer .footer_text_right {
	height: 100%;
	width: 50.004%;
	position: absolute;
	top: 0;
	right: 0;
	background: right bottom no-repeat
}

.container.with-header .container_header .left,
.container.with-header .container_header .right {
	background-image: none
}

.container_footer {
	height: 2px
}

.container_footer .left {
	background: left bottom no-repeat
}

.container_footer .right {
	background: right bottom no-repeat
}

.container .container_footer {
	margin-top: 0
}

.container_header .title,
.container_footer .title {
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	left: 0
}

.container_header .title .mask,
.container_footer .title .mask {
	display: block;
	overflow: hidden;
	height: 100%
}

.container.with-header .container_header .text,
.container.with-footer .container_footer .text {
	position: relative;
	height: 100%
}

.container_body .container_left {
	height: 100%;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	background: left top repeat-y
}

.container_body .container_right {
	height: 100%;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: right top repeat-y
}

.container_body .container_left_top,
.container_body .container_left_bottom {
	height: 100%;
	width: 50.004%;
	position: absolute;
	top: 0;
	left: 0;
	background: left bottom no-repeat
}

.container_body .container_right_top,
.container_body .container_right_bottom {
	height: 100%;
	width: 50.004%;
	position: absolute;
	top: 0;
	right: 0;
	background: right bottom no-repeat
}

.container_body .container_left_top {
	background: left top no-repeat
}

.container_body .container_right_top {
	background: right top no-repeat
}

.container_content {
	position: relative
}

.container_table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
	position: relative
}

.container_inner_l {
	top: 0;
	left: 0;
	width: 50.004%;
	height: 100%;
	background: left top repeat-y;
	position: absolute
}

.container_inner_r {
	top: 0;
	right: 0;
	width: 50.004%;
	height: 100%;
	background: right top repeat-y;
	position: absolute
}

.container_inner_tl {
	top: 0;
	left: 0;
	width: 50.004%;
	height: 50.004%;
	background: left top no-repeat;
	position: absolute
}

.container_inner_tr {
	top: 0;
	right: 0;
	width: 50.004%;
	height: 50.004%;
	background: right top no-repeat;
	position: absolute
}

.container_inner_bl {
	bottom: 0;
	left: 0;
	width: 50.004%;
	height: 50.004%;
	background: left bottom no-repeat;
	position: absolute
}

.container_inner_br {
	bottom: 0;
	right: 0;
	width: 50.004%;
	height: 50.004%;
	background: right bottom no-repeat;
	position: absolute
}

.container_column {
	vertical-align: top
}

.section-collection {
	width: 100%;
	empty-cells: show;
	border-collapse: collapse;
	border: 0
}

tr.top,
.top .section-border,
.top .section-divider {
	height: 1px
}

.section-holder {
	vertical-align: top
}

.section {
	padding-bottom: 0
}

.m_html {
	padding: 11px;
	word-wrap: break-word;
	line-height: 140%
}

.m_html img {
	max-width: 100%;
	border-style: solid;
	border-width: 0
}

.m_html table[border],
.m_html table[border] td,
.m_html table[border] tr,
.m_html table[border] th {
	border-style: solid;
	border-width: 1px
}

.m_html table[border="0"],
.m_html table[border="0"] td,
.m_html table[border="0"] tr,
.m_html table[border="0"] th {
	border-width: 0
}

.m_html ul,
.m_html ol {
	list-style: inside;
	padding-left: 1em;
	line-height: 145%
}

.m_html ul {
	list-style-type: disc
}

.m_members {
	padding: 8px 10px 14px
}

.m_members .user {
	display: inline-block
}

.m_members .user.large {
	margin-right: 15px;
	margin-bottom: 15px
}

.m_members .right {
	display: inline-block
}

.m_members .header {
	margin-bottom: 4px
}

.m_members .filter {
	float: right
}

.m_members .header .search {
	width: 200px;
	display: inline-block
}

.m_showcase {
	position: relative;
	width: 100%
}

.m_showcase div.m_showcase_view {
	position: relative;
	overflow: hidden;
	width: auto
}

.m_showcase div.m_showcase_bar {
	position: absolute;
	background-color: rgba(0, 0, 0, .7);
	height: 50px;
	opacity: 70%;
	width: 100%;
	bottom: 0;
}

.m_showcase_bar {
	top: 150px;
	left: 80px !important;
	text-align: left !important;
	background: rgba(22, 22, 22, 0.8);
	background-color: rgba(22, 22, 22, 0.8);
	max-width: 500px !important;
	bottom: inherit !important;
	padding: 10px;
	text-shadow: none;
	border: 1px solid #66cccc;
}

.m_showcase .m_showcase_bar {
	background-color: #000;
	filter: alpha(opacity=70);
	z-index: 10;
}

.m_showcase .m_showcase_description {
	color: #fff
}

.header_text_text {
	cursor: default
}

.container_body .container-minimized {
	padding: 15px;
	text-align: center;
	position: relative;
	z-index: 1000
}

body {
	background-attachment: fixed;
	color: #c3c5c7;
	background-repeat: no-repeat;
	background-position: top;
	background-image: url("../images/background.jpg");
	background-color: #000000;
}

#page-wrap {
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-size: 12px;
	background-color: transparent;
	background-position: center;
	color: #c3c5c7;
	font-family: Tahoma;
}

a {
	color: #8cbbd4;
}

.element_avatar.simple {
	background-color: #000000;
	border: 1px solid;
	border-color: #4c5a61;
}

.page-outer-left {
	background-repeat: repeat-y;
	background-color: transparent;
	left: 0px;
	background-position: left;
	width: 0px;
}

.page-outer-right {
	width: 0px;
	background-repeat: repeat-y;
	background-color: transparent;
	right: 0px;
	background-position: right;
}

.body-wrap-2 {
	background-repeat: repeat-x;
	background-position: top left;
}

.body-wrap-3 {
	background-repeat: no-repeat;
	background-position: top right;
}

a:hover,
a:focus {
	color: #ffffff;
}

.container.with-header .container_header .header_text_text {
	text-transform: none;
	font-family: Tahoma;
	font-weight: bold;
	padding-top: 9px;
	color: #ffffff;
	font-size: 13px;
}

.container_header .title .mask {
	margin-left: 10px;
	text-align: left;
	margin-right: 20px;
}

.container.with-header .container_header {
	height: 30px;
	background-color: transparent;
}

.container.with-header .container_header .left {
	background-image: url("../images/container-top2.png");
}

.container.with-header .container_header .right {
	background-image: url("../images/container-top2.png");
}

.container.with-header.first .container_header .left {
	background-image: url("../images/container-top2.png");
}

.container.with-header.first .container_header .right {
	background-image: url("../images/container-top2.png");
}

.container .container_header {
	height: 2px;
	background-color: transparent;
}

.container .container_header .left {
	background-image: url("../images/topedge.png");
}

.container .container_header .right {
	background-image: url("../images/topedge.png");
}

.container .container_footer .left {
	background-image: url("../images/container-footer.png");
}

.container .container_footer .right {
	background-image: url("../images/container-footer.png");
}

.container .container_footer {
	background-color: transparent;
	height: 4px;
}

.container .container_body .container_left {
	background-image: url("../images/left-container-edge.png");
	width: 2px;
	background-color: transparent;
}

.container .container_body .container_right {
	background-image: url("../images/right-container-edge.png");
	width: 3px;
	background-color: transparent;
}

.container .container_body {
	padding-right: 3px;
	padding-left: 2px;
}

.container .container_content {
	background-position: top left;
	background-image: url("../images/container-bg.png");
	background-repeat: repeat;
	background-color: transparent;
}

.module {
	background-attachment: fixed;
	background-repeat: repeat-x;
	border-color: #030303;
	background-position: center;
	background-color: transparent;
}

.container .module {
	border-right-color: #273133;
	border-bottom-color: #273133;
}

.container_spacer {
	height: 8px;
}

.container_spacer.first {
	height: 1px;
}

.container_spacer.last {
	height: 7px;
}

#section-header .container_spacer.first {
	height: 3px;
}

#section-header .container_spacer.last {
	margin-bottom: 0px;
	height: 0px;
}

#section-footer .container_spacer.first {
	height: 8px;
}

#section-footer .container_spacer.last {
	height: 7px;
}

.section-border {
	width: 8px;
}

.section-divider {
	width: 7px;
}

.container.with-header.first .container_header {
	height: 30px;
}

.container.with-header.first .container_header .header_text_text {
	padding-top: 9px;
}

.container.with-header.first .container_header .title .mask {
	margin-left: 10px;
	margin-right: 20px;
}

.special_container {
	margin-top: 0px;
	margin-bottom: 0px;
}

.container_inner_bl {
	background-image: url("../images/bottom-shade.png");
}

.container_inner_br {
	background-image: url("../images/bottom-shade.png");
}

.container .container_body .container_left_bottom {
	background-image: url("../images/upper-lines.png");
}

.container .container_body .container_right_bottom {
	background-image: url("../images/upper-lines.png");
}

.container .container_body .container_left_top {
	background-image: url("../images/down-lines.png");
}

.container .container_body .container_right_top {
	background-image: url("../images/down-lines.png");
}

.module {
	margin-top: 0px;
}

.module {
	margin-right: 0px;
}
